@import url('color.css');

.author {
  font-size: 2vmin;
  margin-top: 0;
  margin-left: 0;
}

.article_title {
  margin-bottom: 0vh;
}

.article {
  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: 4vh;
  margin-bottom: 1vh;

  padding-top: 0.05vh;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;

	position: relative;
}

a {
  color: var(--link_normal);
	font-size: 2vmin;
}

a:hover {
	font-size: 2.05vmin;
  color: var(--link_hover);
}

.article_text p {
  margin-left: 1vw;
}
