@import url('color.css');

/*Stylesheet für das Bodenmenü*/

ul {
  margin:0;
  padding-top: 5vh;
}

li {
  top: 3vw;
  display: inline-block;
  margin-left: 2vw;
}

p.bottom_text {
  font-size: 2.5vw;
}

div {
  margin:0;
  background-color: var(--light_primary);
  color: var(--text_primary);
  bottom:0;
}

html {
  background-color: var(--light_primary);
}
