:root {
  /*Primary color: green*/
  --light_primary: #689F7F;
  --primary: #43855E;
  --dark_primary: #2A6B45;

  /*Secondary color: I don't know*/
  --light_secondary: #689F7F;
  --secondary: #43855E;
  --dark_secondary: #2A6B45;

}
