@import url('didact_gothic.css');
@import url('color.css');

/*Definierte Styles, welche für alle Websiten gelten*/
object.menu {
	position: sticky;
	top: 0;

	width: 100%;
	height: 5vh;

	z-index: 1;
}

body {
	font-family: 'Didact Gothic';
	margin: 0;
	padding: 0;

	background-color: var(--primary);
}

object.bottom {
	position: relative;
	bottom: 0;
	margin: 0;
	padding: 0;
	right: 0;
	width: 100%;
	height: auto; /*Höhe wird auf Breite angepasst*/
}

.content {
	margin: 2vw;
	z-index: -1; /*Hebt Element in den Hintergrund, sodass es nicht über dem Menü liegt*/
	position: relative;
}

.p1 {
	margin-left: 2vw;
}
