@import url('../fonts/didact_gothic.css');
@import url('color.css');

/*Definierte Styles, welche für alle Websiten gelten*/
object.menu {
	position: sticky;
	top: 0;

	width: 100%;
	height: 5vh;

	z-index: 1;

	border-bottom-style: solid;
  border-bottom-width: 0.05vw;
  border-bottom-color: var(--dark_primary);

}

body {
	font-family: 'Didact Gothic';
	margin: 0;
	padding: 0;

	background-color: var(--primary);
}

object.bottom {
	position: static;
	bottom: 0%;
	margin: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.content {
	margin: 2vw;
	position: relative;
}

.p1 {
	margin-left: 1vw;
}

p {
	font-size: 2vmin;
}

h2 {
	font-size: 3vmin;
}
