@import url('../fonts/didact_gothic.css');
@import url('color.css');

/*Definierte Styles, welche für alle Websiten gelten*/
object.menu {
	position: sticky;
	top: 0;

	width: 100%;
	height: 5vh;

	z-index: 1;

	border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--dark_primary);

}

body {
	font-family: 'Didact Gothic';
	margin: 0;
	padding: 0;
	background-color: var(--primary);
}

object.bottom {
	position: static;
	bottom: 0%;
	margin: 0;
	right: 0;
	width: 100%;

	height: 15.75vh;

	text-align: center;
}

.content {
	margin: 2vw;
	position: relative;

	margin-left: 10vw;
	margin-right: 10vw;
}

.content p {
	margin-left: 1vw;
}

p {
	font-size: 2vmin;
}

h2 {
	font-size: 3vmin;
}

.content a {
  color: var(--link_normal);
	font-size: 2vmin;
}

.content a:hover {
	font-size: 2.01vmin;
  color: var(--link_hover);
}

.indented {
	margin-left: 1vw;
}
