/*Definierte Styles, welche für alle Websiten gelten*/
object.menu {
	position: sticky;
	top: 0;
	width: 100%;
	height: 65px;
	background: #43855E;
	opacity: 1.0;
	margin-top: 10;
}

body {
	background-color: #43855E;
}

object.bottom {
	bottom: 0;
	margin: 0;
	padding: 0;
	right: 0;
	width: 100%;
	height: auto; /*Höhe wird auf Breite angepasst*/
}

.content {
	margin: 20px;
	z-index: -1; /*TODO: Erklärung*/
	position: relative;
}

.p1 {
	margin-left: 20px;
}
