@import url('didact_gothic.css');

/*Definierte Styles, welche für alle Websiten gelten*/
object.menu {
	position: sticky;
	top: 0;

	width: 100%;
	height: 5vh;

	background: #43855E;

	padding-top: 1vh;
	padding-bottom: 1vh;

	z-index: 1;
}

body {
	font-family: 'Didact Gothic';
	margin: 0;
	padding: 0;
}

object.bottom {
	bottom: 0;
	margin: 0;
	padding: 0;
	right: 0;
	width: 100%;
	height: auto; /*Höhe wird auf Breite angepasst*/
}

.content {
	margin: 20px;
	z-index: -1; /*Hebt Element in den Hintergrund, sodass es nicht über dem Menü liegt*/
	position: relative;
}

.p1 {
	margin-left: 20px;
}

#background_light_green {
	background-color: #689F7F;
}

#background_green {
	background-color: #43855E;
}

#background_dark_green {
	background-color: #2A6B45;
}
