/*Stylesheet für das Menü*/
body {
  margin: 0;
  padding: 0;
}

.menu_ul {
  list-style-type: none;
  overflow: hidden;
  /*Browser-Defaults werden überschrieben*/
  margin: 0;
  padding: 0;
}

.menu_item {
  overflow: hidden;
  display: inline; /*Objekte werden nebeneinander gestellt*/
  float: left;
  font-size: 36vmin;

  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: var(--dark_primary);
}

.menu_link {
  background-color: var(--primary);
  cursor: pointer;
}

.menu_item .menu_link {
  display: block;
  color: var(--text_secondary);
  text-align: center;
  padding: 27vh 1.2vw;
  text-decoration: none; /*Entfernt Unterstriche*/
}

.menu_item .menu_link:hover {
  background-color: var(--dark_primary);
}

.item_right {
  float: right;

  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: var(--dark_primary);
}

.item_title {
  background-color: var(--light_primary);
  color: var(--text_primary);
  padding: 27vh 1.2vw;
}

.active {
  background-color: var(--dark_primary);
}
