.menu_heading {
  font-size: 30;
}

.menu_ul {
  list-style-type: none;

  /*Browser-Defaults werden 체berschrieben*/
  margin: 0;
  padding: 0;
}

.menu_item {
  display: inline; /*Objekte werden nebeneinander gestellt*/
  float: left;
}

.menu_link {
  background-color: #689F7F; /*TODO: Farbe w채hlen*/
}

.menu_item .menu_link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; /*Entfernt Unterstriche*/
}

.menu_item .menu_link:hover {
  background-color: #2A6B45;
}

.item_right {
  float: right;
}

.item_title {
  background-color: #98BFA8; /*TODO: Farbe w채hlen*/
  left: 10px;
}

.item_title {
   padding: 14px 16px;
}

.active {
  background-color: #004d1a; /*TODO: Farbe w채hlen*/
}
