.slideshow_container {
    background-color: #2A6B45;
    margin: -8px; /*Entfernt Balken zwischen Rand und div-Element*/
}

.slideshow {
  position: relative;
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slideshow_img {
  max-width:100%;
  max-height:100%;
}

.number_indicator {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.img-text-container {
  position: absolute;
  top: 80%;
  width: 100%;
  text-align: center;
  color: #98BFA8;
}

.img_heading_2 {
  font-size: 20px;
}
