/*Stylesheet für die Slideshow*/

.slideshow_container {
    background-color: #2A6B45;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;

    z-index: -1;
}

.slideshow {
  position: relative;
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute; /*Objekt nun verschiebbar*/
  top: 55%;
  width: auto; /*Breite wird auf Höhe angepasst*/
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0; /*Ein Rahmen wird gezogen*/
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); /*Änderung der Opacity (Durchsichtigkeit) beim Hovern*/
}

.slideshow_img { /*Bild kann nicht größer als slideshow_container werden*/
  max-width:100%;
  max-height:100%;
}

.number_indicator {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.img-text-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  text-align: center;
  color: #98BFA8;
}

.img_heading_2 {
  font-size: 20px;
}
